* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 30px;
    padding: 15px;
    background-color: rgb(117, 117, 236);
}

header .container {
    display: flex;
    justify-content: flex-end;
    width: 1180px;
    margin: auto;
}

header a {
    text-decoration: none;
    font-size: 19px;
    letter-spacing: 1px;
    margin-right: 80px;
    color: rgb(255, 255, 255);
}

.banner-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgb(117, 117, 236);
    align-items: center;
}

.banner-container .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

/* Left-Section  */

.left-section {
    width: 600px;
    align-self: flex-start;
}

.left-section h1 {
    color: white;
    font-size: 40px;
    padding: 10px;
}
.left-section span {
    color: yellow;
}
.left-section p {
    font-size: 16px;
    letter-spacing: 1px;
    margin-top: -11px;
    line-height: 34px;
    padding: 10px;
}

.left-section button {
    cursor: pointer;
    color: rgb(151, 151, 234);
    font-weight: bold;
    font-size: 16px;
    background-color: white;
    border: none;
    padding: 10px 36px;
    border-radius: 6px;
    margin: 10px;
}
.left-section button:hover {
    text-decoration: underline;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.219);
}

/* Right section */

.right-section {
    width: 400px;
    background-color: #fff;
    padding: 40px 0;
    border-radius: 10px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.219);
}

.right-section h4 {
    font-size: 20px;
    width: 200px;
    color: rgb(131, 131, 218);
    margin-bottom: 30px;
    margin: auto;
}

.right-section .input-group {
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.right-section .input-group input {
    border: none;
    border-bottom: 1px solid rgb(131, 131, 218);
    outline: none;
    caret-color: rgb(131, 131, 218);
    font-size: 19px;
    padding-top: 15px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
        transition: 0.2s ease-in-out;
}

.right-section .input-group input:focus {
    border-bottom: 2px solid rgb(131, 131, 218);

}
.right-section .input-group label {
    color: rgb(80, 70, 70);
    font-family: cascadia code;
    position: absolute;
    top: -8px;
    transition: 0.4s ease;
}

.right-section .submit-section .submit-btn {
    color: white;
    padding: 8px 130px;
    margin-left: 50px;
    border-radius: 6px;
    border: none;
    background-color: rgb(117, 117, 236);
    cursor: pointer;
    font-weight: bold;
}
.submit-section .submit-btn:hover {
    text-decoration: underline;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.219);
}

.right-section .input-group input:focus ~ label {
    color: rgb(117, 117, 236);
    top: -20px;
    
}

footer{
    text-align: center;
    font-size: small;
    margin-top: -30px;
    color: white;
    font-family: monospace;
}

footer a{
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    
}
footer span:hover{
    color: rgb(12, 28, 22);
    cursor:pointer;
}